<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xihuxiaolong.generalcomponent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟SDK配置开始 -->
        <meta-data android:value="57ae965a67e58ee552001054" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
        <!-- 友盟SDK配置结束 -->

        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.toolbarshow.ToolbarShowActivity" />
        <activity android:name=".module.doubanmovielist.DoubanMovieListActivity" />
        <activity android:name=".module.shortnotelist.ShortNoteListActivity" />
        <activity android:name=".module.shortnoteedit.ShortNoteEditActivity" />
        <activity android:name=".module.citylist.CityListActivity" />
        <activity android:name=".module.uishow.UIShowActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/CustomTheme"/>
    </application>

</manifest>